*
.calc{
    position: relative;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    margin: auto;
    /*width:40%;
    height:50%;
    padding: 40px 40px;*/
}
.container{
    background-color: rgb(71, 66, 62);
    display: inline-block;
    margin-left: 30%;
    width: 40%;
    height:70%;
    padding: 1.5em;
    border-radius: 10px;
}
.btn{
    font-size: large;
}
.body{
    max-height:90vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.operator{
    font-size: xx-large;
    color: #de6600;
}
#clear{
    grid-column: 1/3;
    padding: 0.4em;
    color:  #de6600;
}
#delete{
    grid-column: 3/5;
    color:  #de6600;
}
#screen{
    background-color:#e4d3c2;
    grid-column: 1/5;
    grid-row: 1/2;
    height: 30px;
    padding: 0.8em;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: -moz-hidden-unscrollable;
    text-overflow: ellipsis;
}
#results{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color:#e4d3c2;
    height:30px;
    font-family: lato;
    font-size: xx-large;
    text-align: right;
    padding:0.5em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: -moz-hidden-unscrollable;
    text-overflow: ellipsis;
}
#equals{
    background-color: #de6600; 
    color:#e4d3c2; 
    border:none;
}
#equals:hover{
    background-color: #e78128;
}

.animate{
    animation-duration: 0.2s;
    animation-name: fade;
}

@keyframes fade {
    from{
        color:rgb(44, 41, 41);
    }
    to{
        color:rgb(214, 195, 195);
    }
}
